// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  .box {
    background: blue;
    color: white;
    padding: 10px;
    width: 15px;
    box-shadow: 3px 3px 5px #3f51b5a1;
    text-align: center;
  }
}

.btn {
  margin: 20px;
  padding: 4px;
}
